<main role="main" class="container">
      <div class="jumbotron">
        <h1>Miss Congo</h1>
        <p class="lead">Votez votre candidat au tant des fois. Etes-vous pres?.</p>
        <a class="btn btn-lg btn-primary bg-pro" href="{{path('candidat_index')}}" role="button">Allez-y &raquo;</a>
      </div>
    </main>