<section class="footer-section">
		<div class="container">
			<div class="footer-logo text-center">
				<a href="index.html"><img src="./ccrn.jpg" alt=""></a>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>E-MissCongo</h2>
						<p>Tous derrière le plan de Numérisation de la Rdc,Vivez une expérience unique d'un des concours le plus emblématique et le plus attendus grace à cette application.Votez massivement pour  devoiler l'embassadrice de la beauté et de la culture Congolaise. Découvrons ensemble Qui sera La reine de Beauté 2020, Qui portera la couronne?</p>
						<img src="img/cards.png" alt="">
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>Questions</h2>
						<ul>
							<li><a href="">Reine de beauté</a></li>
							<li><a href="">procedure de vote</a></li>
							<li><a href="">moyen de paiement</a></li>
							<li><a href="">criteres</a></li>
							<li><a href="">Recompense</a></li>
							<li><a href="">Jobs</a></li>
							
						
						</ul>
						<ul>
							<li><a href="">Partners</a></li>
							<li><a href="">organisateurs</a></li>
							
							
							<li><a href="">Press</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>Questions</h2>
						<div class="fw-latest-post-widget">
							<div class="lp-item">
								<div class="lp-thumb set-bg" data-setbg="img/blog-thumbs/1.jpg"></div>
								<div class="lp-content">
									<h6>what shoes to wear</h6>
									<span>Oct 21, 2018</span>
									<a href="#" class="readmore">Read More</a>
								</div>
							</div>
							<div class="lp-item">
								<div class="lp-thumb set-bg" data-setbg="img/blog-thumbs/2.jpg"></div>
								<div class="lp-content">
									<h6>trends this year</h6>
									<span>Oct 21, 2018</span>
									<a href="#" class="readmore">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget contact-widget">
						<h2>Questions</h2>
						<div class="con-info">
							<span>O.</span>
							<p>Ministerre du tourisme </p>
						</div>
						<div class="con-info">
							<span>A.</span>
							<p>kinshasa Rdc</p>
						</div>
						<div class="con-info">
							<span>T.</span>
							<p>+243 814371558</p>
						</div>
						<div class="con-info">
							<span>E.</span>
							<p>tshilombacaroline@gmail.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="social-links-warp">
			<div class="container">
				<div class="social-links">
					<a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
					<a href="" class="google-plus"><i class="fa fa-google-plus"></i><span>g+plus</span></a>
					<a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
					<a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
					<a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
					<a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
					<a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
				</div>

<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> 
<p class="text-white text-center mt-5">Copyright  Caroline Tshilomba <i class="fa fa-heart-o" aria-hidden="true"></i> Cj </a></p>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

			</div>
		</div>
	</section>