{% extends "base.html.twig" %}
{% block body %}
 voici la trace du vote que vous avez effectue:
    
    <table class="table">
       
        <tbody>
          <tr>
              <td>{{dump(cote)}}</td>
          </tr>
        </tbody>
    </table>
    <button type="submit">Valider le vote</button>
{% endblock body %}