{% extends 'base.html.twig' %}

{% block title %}Edit Candidat{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="lead text-center text-primary">Mise a jour du Candidat</h1>

    {{ include('admin/candidat/_form.html.twig', {'button_label': 'Editer'}) }}

    <a href="{{ path('admin_candidat_index') }}">Afficher la liste</a>

    {{ include('admin/candidat/_delete_form.html.twig') }}
    </div>
{% endblock %}
