<section class="top-letest-product-section">
		<div class="container">
			<div class="section-title">
				<h2>TOP MISS CONGO </h2>
                     <marquee>  <h6 color: purple
                     	> VOTEZ MASSIVEMEMENT ET REMPLISSEZ LE PANIER DE VOTRE CANDIDATE  </h6></marquee>

			

			</div>
			<div class="product-slider owl-carousel">
				<div class="product-item">
					<div class="pi-pic">
						<img src="{{asset('img/product/ppr.jpg')}}" alt="">
						<div class="pi-links">
							<a href="#" class="add-card"><i class="flaticon-bag"></i><span>1110 vote</span></a>
							<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>N°05</h6>
						<h5>Stella furah </h5>



					</div>
				</div>
				<div class="product-item">
					<div class="pi-pic">
						
						<img src="{{asset('img/product/ker.jpg')}}" alt="">
						<div class="pi-links">
							<a href="#" class="add-card"><i class="flaticon-bag"></i><span>59000 vote</span></a>
							<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>N°09</h6>
						<h5>Kyla Keren</h5>
					</div>
				</div>
				<div class="product-item">
					<div class="pi-pic">
						<img src="{{ asset('img/product/bgg.jpg')}}" alt="">
						<div class="pi-links">
							<a href="#" class="add-card"><i class="flaticon-bag"></i><span>100 000 vote</span></a>
							<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>N°07</h6>
						<h5>Keren kylas </h5>
					</div>
				</div>
				<div class="product-item">
						<div class="pi-pic">
							<img src="./img/product/dod.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>90 000 vote</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>N°03</h6>
							<h5>Dorcas Dienda </h5>
						</div>
					</div>
				<div class="product-item">
						<div class="pi-pic">
							<img src="./img/product/prodo.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>7 890 000 vote</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>


						<div class="pi-text">
							<h6>N°02</h6>
							<h5>Fiftya mukaji </h5>
						</div>
					</div>
			</div>
		</div>
	</section>